<h1>All Fighters in Database: </h1>
<section>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card mb-3" style="max-width: 540px">
        <div class="card-body">
          <form class="d-flex align-items-center">

            <i class="fa fa-search h4 d-sm-block d-block m-2"></i>
            <input [(ngModel)]="filters.keyword"
                   (input)="searchedFighters()"
                   name="keyword"
                   type="text"
                   class="form-control form-control-lg flex-shrink-1 form-control-borderless"
                   placeholder="Search by first name"
                   aria-label="Search"/>

<!--SEARCH will be dynamic got rid of button<button routerLink="/venues" class="btn btn-success btn-lg" type="submit">Search</button>-->

            <a routerLink="/fighters/new" class="btn btn-primary btn-lg">+New</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">Search results for: Thymeleaf returned search term here "<span></span>"</div>
</section>
<section>
  <!--REPEAT DIV-->
  <div *ngFor="let fighter of fighters"  class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="" alt="..." class="img-fluid"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Name: {{fighter.firstName}} "{{fighter.nickName}}"
            {{fighter.lastName}} </h5>
          <p class="card-text">DOB: {{fighter.dob}} </p>
          <p class="card-text">Age: {{fighter.birthPlace}}
          <p class="card-text">Stance: {{fighter.stance}}
            <small class="text-muted">
              <a routerLink="/fighter/{{fighter.id}}"><br>Detail: {{fighter.firstName}} "
                {{fighter.nickName}}" {{fighter.lastName}}</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
